<form action="" method="post" class="form" [formGroup]="formu">
	<div class="send prima" *ngIf="formulario">
		<div class="block">
			<label for="Name" class="prima">
				Name
			</label>
			<input type="text" name="name" id="name" autocomplete="false" 
				formControlName="name">
		</div>
		<div class="block">
			<label for="job" class="prima">
				Job
			</label>
			<input type="job" name="mail" id="job"
				   formControlName="job">
		</div>
		<div class="block2">
			<button (click)="envia()">
				Send
			</button>
		</div>
	</div>
</form>