.avatar{   
    img{
        width: 100%;
    }
}
.info{
    color: white;
    padding: 20px 12px;
    p{
        font-size: 18px;
        font-weight: 700;
    }
    h2{
        padding: 5px 0px;
        font-weight: 500;
        opacity: 80%;
        font-size: 16px;
    }
}